@charset "utf-8";
body {
    font-family: 'Sawarabi Mincho',serif;
    font-size: 18px;
    color: #121212;
}
.ffLosefin {
    font-family: 'Josefin Sans',sans-serif;
}

header {
    background-color: palegreen;
}
header h1 {
    padding-top: 10px;
}
main h2 {
    padding-top: 100px;
    text-align: center;
    font-size: 60px;
    letter-spacing: .05em;
    margin-bottom: 80px;
    background-image: linear-gradient(135deg, #e6ba5d 0%, #9ac78a 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}
main section {
    text-align: center;
    padding-bottom: 20px;
}
main div section  {
    text-align: center;
    padding-bottom: 200px;
    background-color: #b3ffdb;
    /*background-image: linear-gradient(135deg, green 0%, orange 100%);*/
}
main div section p {
    text-align: center;
    object-fit: cover;

}
main div.isaninsyou section p img {
    width: 356px ;
    height: 481px ;
}

footer {
    background-color: gray;
    color: #f3e9e5;
    padding: 14px 10px 20px;
    text-align: center;
}
/*p160から*/
